<h2 class="blockheader">Blog</h2>
{% for post in site.posts limit:5 %}
	<article {% if forloop.last %} class='hidemobile'{% endif %}>

		<div class="row">
			<div class="blogheader">
				<span>
					{{ post.author }}, {{ post.date | date: "%-d %B %Y" }}
				</span>
				<h3>{{ post.title }}</h3>
			</div>
			{{ post.content | split:'<!--break-->' | first | | convert_header: 3 }}

				<a href="{{ site.baseurl }}{{ post.url }}">{% t global.fullarticle %}</a>
			{% if post.content contains '<!--break-->' %}
			{% endif %}

		</div>
	</article>
	{% if forloop.last == false %}
		<div class="blockspacer">
		</div>
	{% endif %}
{% endfor %}
{% capture link1 %}{{ site.baseurl }}/blog.html{% endcapture %}
	<a href="{{ link1 }}" >Alles</a>
