$color2: #444444;
$color1: #dc0067;
$header-bg: #444444;
$menu-bg: #ffb400;

h1, h2, h3, h4, body {
	font-family: sans-serif;
	color: #000000;
}
h3 {
	margin-bottom: 0.4em;
}
p {
	margin-top: 0;
	margin-bottom: 0.8em;
}
body {
	background-color: #eeeeee;
	padding-bottom: 30px;
}

h2 {
	background-color: $header-bg;
	color: #ffffff;
	padding: 10px 20px;
	margin-bottom: 0;
	font-size: 22px;
}
#ueber:before, #mitmachen:before, #kontakt:before {
  display: block; 
  content: " "; 
  margin-top: -285px; 
  height: 285px; 
  visibility: hidden; 
}

.navbar {
	margin-bottom: 0;
}

.row {
	overflow: hidden;
}

header {
	border-bottom: 5px solid $color1;
}


#pagetop {
//	padding-top: 20px;
	position: fixed;
	width: 100%;
	background-color: #eeeeee;
	h1 {
		color: #333333;
	}
}

.title {
//	background-color: #eeeeee;
	div {
		margin: 10px 0;
	}
}

.main {
	padding-top: 200px;
}

.title,
.menubar .row,
.main .wrap {
    margin: auto;
    max-width: 1200px;
    width: 70%;
	overflow: hidden;
	clear: both;
}
.main .wrap {
	margin-bottom: 10px;
}

.main .row {
	background-color: #ffffff;
	padding: 20px;
	border:  1px dotted $color1;
	border-top: 0;
	border-bottom: 5px solid $color1;
}


@media only screen and (max-width: 400px) {
	.title,
	.menubar .row,
	.main .wrap {
	    width: 98%;
	}
}

.main {
	img.right {
		margin: 0 0 10px 10px;
	}
	img.left {
		margin: 0 10px 10px 0;
	}
	@media only screen and (max-width: 767px) {
		img.left,
		img.right {
			margin: 0 auto;
			display: block;
		}
	}
}

.title .row h1 {
}


.menubar {
	background-color: $menu-bg;
	ul li {
		margin: 0;
	}
	a {
		border-right: 1px solid #ffffff;
		display: block;
		color: #333333;
		display: block;
		padding: 10px 15px;
		margin: 0 auto;
		cursor: pointer;
		text-align: center;
	}

	@media only screen and (min-width: 1168px) {
		a {
			font-size: 105%;
			font-weight: bold;
			width: 110px;
			padding: 10px 0;
		}
	}

	ul li a:hover {
		color: #ffffff;
		background-color: $color1;
	}
	li:first-child a {
		border-left: 1px solid #ffffff;
	}
	@media only screen and (max-width: 767px) {
		li:first-child a,
		li a {
			border-width: 0;
		}
		li {
			border-bottom: 1px solid #ffffff;
		}
		nav:last-child li:last-child {
			border: 0;
		}
	}
}

