<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width">


		{% stylesheet kube %}
		{% stylesheet base %}

	</head>
	<div class="wrap" id="pagetop">
	<div class="title">
		<div class="row units-row">
			<h1 class="unit-60">Freifunk Köln, Bonn und Umgebung</h1>
		</div>
	</div>
	<header class="group menubar">	
		<div class="row">
			<nav class="navbar navbar-left">
				<ul>
					<li>
						<a href="index.html#ueber">Über</a>
					</li>
					<li>
						<a href="index.html#mitmachen">Mitmachen</a>
					</li>
					<li>
						<a href="index.html#kontakt">Kontakt</a>
					</li>
				</ul>
			</nav>
			<nav class="navbar navbar-right">
				<ul>
					<li>
						<a href="impressum.html">Impressum</a>
					</li>
					<li>
						<a href="{{ site.wikilink }}">Wiki</a>
					</li>
					<li>
						<a href="{{ site.maplink }}">Karte</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
</div>

<body class="kubepage">
		  {{ content }}

	</body>
</html>
